@import "./variables";
@import "./mixin";
@import "./index.scss";
@import "./politica.scss";
@import "./economia.scss";
@import "./life.scss";
@import "./contacto.scss";


*{
    margin: 0;
    padding: 0;
    Box-sizing: border-box;
}

